@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-800 antialiased;
  }
}

@layer utilities {
  .print-only { display: none; }
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  .print-break { page-break-before: always; }
  body { background: white !important; }
}
